.ShareBadgePRO_Toolbar {
	border: 1px solid #999;
	background-color: #fffff0;
	margin: 5px 0 5px 0;
}

.ShareBadgePRO_Toolbar img {
	/*padding: 5px;
	cursor: pointer;*/
}
.ShareBadge_hide {
	visibility: hidden;
	display: none;
}

.sb_icon {
	margin: 7px;
	cursor: pointer;
}