div.blogList_blog
{
 clear:both;
 min-height:70px;
}
div.blogList_blog a
{
 display:block;
}
div.blogList_details
{
 font-size:10px;
 color:#999;
 margin-bottom:20px;
}
div.blogList_details span
{
 margin-right: 6px;
 color:#999;
}
div.blogList_image
{
 float:right;
}