<div>
 <table width="100%" cellspacing="1" cellpadding="1" border="0" class="BlogInfo">
  <tbody>
   <tr>
    <td style="white-space: nowrap; text-align: right; width: 20px;" class="BlogDescriptionHeavy">
     <span>[resx:term]:</span>
    </td>
    <td style="white-space: nowrap;">
     <span class="BlogDescription">[selectedterm:localizedname]</span>
    </td>
   </tr>
   <tr>
    <td colspan="4">
     <div class="BlogDescription">
      [selectedterm:totalposts] [resx:posts]
     </div>
    </td>
   </tr>
  </tbody>
 </table>
</div>