<div>
 <table width="100%" cellspacing="1" cellpadding="1" border="0" class="BlogInfo">
  <tbody>
   <tr>
    <td style="white-space: nowrap; text-align: right; width: 20px;" class="BlogDescriptionHeavy">
     <span>[resx:author]:</span>
    </td>
    <td style="white-space: nowrap;">
     <span class="BlogDescription">[blog:localizedtitle]</span>
    </td>
    <td style="white-space: nowrap; text-align: right; width: 20px;" class="BlogDescriptionHeavy">
     <span>[resx:created]</span>
    </td>
    <td style="white-space: nowrap;">
     <span class="BlogDescription">[blog:createdondate|d]</span>
    </td>
   </tr>
   <tr>
    <td colspan="4">
     <div class="BlogDescription">
      [blog:localizeddescription]
     </div>
    </td>
   </tr>
  </tbody>
 </table>
</div>