    <tr>
     <td>
      <div class="blogComments dnnClear">
       <div class="commentAuthor dnnLeft">
        <a href="[commenter:profileurl]">
         <img style="width:50px;height:50px;" alt="[comment:displayname]" src="[commenter:profilepic|50]" />
        </a>
       </div>
       <div class="commentContent">
        <div class="ccAuthor">
         <a href="[commenter:profileurl]">[comment:displayname]</a>&nbsp;<abbr title="[comment:CreatedOnDateUTC|u]" class="blog_commenttimeago"></abbr>
        </div>
        <div>
         <p>[comment:comment]</p>
        </div>
        <div class="commentMod dnnRight">
  [subtemplate|CommentApproveBar.html|security:canapprovecomment|True]
        </div>
       </div>
      </div>
     </td>
    </tr>
[subtemplate|Comment.html|Comments|]
