div.blogCalList_item
{
 padding: 0x;
 margin:0x;
}
span.blogCalList_stat, span.blogCalList_stat span
{
 color: #999;
}
span.blogCalList_stat span
{
 margin-right:4px;
}
span.blogCalList_stat
{
 width:50px;
 float:right;
}
.blogCalList_list
{
 margin-bottom: 30px;
}