<div id="blogTimeline">
</div>
<script type="text/javascript">
$(document).ready(function () {
 createStoryJS({
  type: 'timeline',
  width: '800',
  height: '600',
  start_at_end: true,
  lang: "[query:locale|2]",
  source:
{
 "timeline":
    {
     "headline": "[module:moduletitle]",
     "type": "default",
     "text": "",
     "date": [
 [subtemplate|Post.html|Posts|pagesize=100]
{}
        ]
    }
}
  ,
  embed_id: 'blogTimeline',
  debug: true
 });
});
</script>