<div class="blog_commentkarma">
 <a href="#"
  id="commentLikeLink[comment:CommentID]"
  class="icon16 entypoButton"
  title="[resx:LikeComment]"
  onclick="karmaToggle(this, [blog:blogid], [comment:CommentID], 0)">&#128077;</a>
 <a href="#"
  id="commentDislikeLink[comment:CommentID]"
  class="icon16 entypoButton"
  title="[resx:DislikeComment]"
  onclick="karmaToggle(this, [blog:blogid], [comment:CommentID], 1)">&#128078;</a>
 <a href="#" 
  id="commentReportLink[comment:CommentID]"
  class="icon16 entypoButton"
  title="[resx:ReportComment]"
  onclick="karmaToggle(this, [blog:blogid], [comment:CommentID], 2, '[resx:ReportComment.Confirm]')">&#128196;</a>
</div>