[if|1][comment:karmaed][=]False[/if]
<span id="commentLikeAndDislikeLink[comment:CommentID]">
<span id="commentLikeLink[comment:CommentID]"> &middot;
 <a href="#"
  class="blog_comment_actionbtn"
  title="[resx:LikeComment]"
  onclick="karmaToggle([blog:blogid], [comment:CommentID], 0, null, function() {
   $('#commentLikeAndDislikeLink[comment:CommentID]').hide();
   var el = $('#commentLikes[comment:CommentID]');
   var num = parseInt(el.text());
   el.text(num+1);
  });return false;">[resx:Like]</a>
</span>
<span id="commentDislikeLink[comment:CommentID]"> &middot;
 <a href="#"
  class="blog_comment_actionbtn"
  title="[resx:DislikeComment]"
  onclick="karmaToggle([blog:blogid], [comment:CommentID], 1, null, function() {
   $('#commentLikeAndDislikeLink[comment:CommentID]').hide();
   var el = $('#commentDislikes[comment:CommentID]');
   var num = parseInt(el.text());
   el.text(num+1);
  });return false;">[resx:Dislike]</a>
</span>
</span>
[endif|1]
[if|3][comment:reported][=]False[/if]
<span id="commentReportLink[comment:CommentID]"> &middot;
 <a href="#" 
  class="blog_comment_actionbtn"
  title="[resx:ReportComment]"
  onclick="karmaToggle([blog:blogid], [comment:CommentID], 2, '[resx:ReportComment.Confirm|jssafe]', function() {
   $('#commentReportLink[comment:CommentID]').hide();
   var el = $('#commentReports[comment:CommentID]');
   var num = parseInt(el.text());
   el.text(num+1);
  });return false;">[resx:Report]</a>
</span>
[endif|3]
