<div class="blog-main-content">
<article class="is-post is-post-excerpt">
 <header>
 [subtemplate|Postbanner.html|Post:hasimage]
  <h2><a href="[Post:link]">[Post:localizedtitle]</a></h2>
  <span class="byline">[Post:PublishedOnDate|o]</span>
 </header>
 <div class="info">
  <span class="date"><span class="month">[Post:PublishedOnDate|MMM]<span></span></span> <span class="day">[Post:PublishedOnDate|dd]</span><span class="year">[Post:PublishedOnDate|yyyy]</span></span>
  <ul class="stats">
[subtemplate|Tag.html|keywords]
  </ul>
 </div>
 <p>
[Post:localizedcontent]
 </p>
</article>
