<div id="tagList[module:moduleid]" class="tagList_list">
 [subtemplate|Tag.html|tags]
</div>
<script type="text/javascript">
 $(document).ready(function () {
  var maximum = null;
  var maxSize = 3;
  var minSize = 1;
  var maxWeight = 8;
  var minWeight = 4;
  $('#tagList[module:moduleid] div.tagList_tag').each(function () {
   var value = parseInt($(this).attr('data-weight'));
   maximum = (value > maximum) ? value : maximum;
  });
  $('#tagList[module:moduleid] div.tagList_tag a').each(function () {
   $(this).css('font-size', (minSize + parseInt($(this).parent().attr('data-weight')) * (maxSize - minSize) / maximum).toString() + 'em');
   $(this).css('font-weight', parseInt(minWeight + parseInt($(this).parent().attr('data-weight')) * (maxWeight - minWeight) / maximum).toString() + '00');
  });
 });
</script>
