<div class="commentList_comment">
 <div class="commentList_comment_pic">
  <img style="width:32px;height:32px;" alt="[comment:displayname]" src="[commenter:profilepic|32]" />
 </div>
 <div class="commentList_comment_content">
  <a href="[viewsettings:url]post=[comment:contentitemid]#commentDiv[comment:CommentID]" title="[comment:comment]">[commenter:displayname]&nbsp;
   [comment:comment|200]</a>
 </div>
 <div class="commentList_comment_details">
  [resx:In] [post:localizedtitle]
 </div>
 <div class="commentList_comment_details">
  <i class="fa fa-thumbs-up"></i>&nbsp;<span id="commentLikes[comment:CommentID]"> [comment:likes] </span>
  <i class="fa fa-thumbs-down"></i>&nbsp;<span id="commentDislikes[comment:CommentID]"> [comment:dislikes] </span>
  <i class="fa fa-warning"></i>&nbsp;<span id="commentReports[comment:CommentID]"> [comment:reports] </span>
 </div>
</div>