<input type="text" id="blogCalendar[module:moduleid]" class="gldp-el" style="width:300px;" />
<script type="text/javascript">
 (function ($, Sys) {
  $(document).ready(function () {
   $('#blogCalendar[module:moduleid]').glDatePicker(
{
 onClick: (function (el, cell, date, data) {
  var url = '[urls:posttermauthor|true]end=';
  url += date.getFullYear()+'-'+(date.getMonth()+1).toString()+'-'+date.getDate();
  window.location.href = encodeURI(url);
 }),
 showAlways: true,
 selectableDateRange: [{
  from: new Date(2000, 1, 1), to: new Date([date:now|yyyy], [date:now|MM], [date:now|dd])
 }],
 selectedDate: new Date([query:enddate|yyyy], [query:enddate|MM]-1, [query:enddate|dd])
});
  });
 } (jQuery, window.Sys));
</script>