div.authorList_item
{
 padding: 0x;
 margin:0x;
}
span.authorList_stat, span.authorList_stat span
{
 color: #999;
}
span.authorList_stat span
{
 margin-right:4px;
}
span.authorList_stat
{
 width:50px;
 float:right;
}
.authorList_list
{
 margin-bottom: 30px;
}