<div class="vbEntry">
 <h2>
  <a href="[Post:link]" rel="bookmark">[Post:localizedtitle]</a>
[if|1][Post:published][=]False[/if]
  <span class="unpublished">[resx:Unpublished]</span>
[endif|1]
 </h2>
 <div class="vbHeader dnnClear">[resx:by] <a href="[urls:module|true]author=[post:CreatedByUserID]">[post:displayname]</a> [resx:on] <span>[post:publishedondate|d]</span>
  <div class="dnnRight"></div>
 </div>
 <div class="vbBody dnnClear">[Post:localizedsummary]					
  <div class="BlogReadMore">
   <a href="[Post:link]" class="BlogMoreLink">[resx:readmore]</a>
  </div>
 </div>
 <div class="dnnClear">
  <div class="dnnLeft">
[subtemplate|Cat.html|categories]
   <div class="tags BlogTopics">
    <div class="tags">
[subtemplate|Tag.html|keywords]
    </div>
   </div>
  </div>
  <div class="dnnRight">
   <a href="[Post:link]" class="BlogComments">[resx:comments] ([post:nrcomments])</a>
  </div>
 </div>
</div>
